:root {
        --ic-brand-primary-darkened-5: #462260;
--ic-brand-primary-darkened-10: #42205B;
--ic-brand-primary-darkened-15: #3F1E56;
--ic-brand-primary-lightened-5: #522E6C;
--ic-brand-primary-lightened-10: #5B3974;
--ic-brand-primary-lightened-15: #64447C;
--ic-brand-button--primary-bgd-darkened-5: #462260;
--ic-brand-button--primary-bgd-darkened-15: #3F1E56;
--ic-brand-button--secondary-bgd-darkened-5: #534C44;
--ic-brand-button--secondary-bgd-darkened-15: #4A443D;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0080CC;
--ic-link-color-lightened-10: #1999E4;
--ic-brand-primary: #492365;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #008EE2;
--ic-brand-button--primary-bgd: #492365;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #575047;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #492365;
--ic-brand-global-nav-ic-icon-svg-fill: #f0f0f0;
--ic-brand-global-nav-ic-icon-svg-fill--active: #492365;
--ic-brand-global-nav-menu-item__text-color: #f0f0f0;
--ic-brand-global-nav-menu-item__text-color--active: #492365;
--ic-brand-global-nav-avatar-border: #f0f0f0;
--ic-brand-global-nav-menu-item__badge-bgd: #35b168;
--ic-brand-global-nav-menu-item__badge-text: #f0f0f0;
--ic-brand-global-nav-logo-bgd: #492365;
--ic-brand-header-image: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000018/attachments/75667927/onlineLogoWhite200x200.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1953114824&Signature=xRtbBomh%2FwcY99xc4Cyb3wcVSu0%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000018/attachments/70770954/weberStateONL180x180.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1935734055&Signature=pzuFaaMUkFBIzPbVB%2FLdpzzLk6s%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000018/attachments/70770955/weberStateONL558x558.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1935734055&Signature=tE0QXhptaGZc7fg8rh1d2uRnf%2B8%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000018/attachments/70770956/weberStateONL558x270.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1935734055&Signature=BPq4%2BXstZojea1Xu%2BLwivfmUA%2Fs%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #492365;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads-2.s3.amazonaws.com/account_140000000000018/attachments/75667927/onlineLogoWhite200x200.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1953114824&Signature=xRtbBomh%2FwcY99xc4Cyb3wcVSu0%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }